<DOCTYPE! html>
<html>
    <head>Upload Week Page</head>
    <body>
        <form action="/uploadtrx" method="POST" enctype="multipart/form-data">
        <input type="file" name="data" id="data">
        <input type="date" name="date" id="date">
        <button>Upload</button>
    </form>
    </body>
</html>    