<DOCTYPE! html>
<html>
    <head>Upload Page</head>
    <body>
        <form action="/uploadcafe" method="POST" enctype="multipart/form-data">
        <input type="file" name="data" id="data">
        <button>Upload</button>
    </form>
    </body>
</html>    